$black: #000000
$cardText: #5D5D5D
$subText: #9F9F9F
$white: #FFFFFF
$whiteText: #FBFBFB
$red: #F16D7F
$redsummary: #EF5B70
$bgcTop: #F1E4E6
$blackLight: #222222
$bgcCard: #F8F8F8
$breadcrumbColor: #F8F3F4
$detailsText: #6F6E6E

*,
*::before,
*::after
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Lato', sans-serif
    font-size: 14px
    font-weight: 400
    line-height: 17px

a
    text-decoration: none
    color: inherit

ol, ul, summary
    list-style-type: none

img
    display: block
    max-width: 100%

summary, button, .middle__button, .slider__btn, .category__checkbox,
.registration__label
    cursor: pointer

input
    outline: none

.center
    padding-left: calc(50% - 570px)
    padding-right: calc(50% - 570px)

.header__link, .card__title-link, .add-to-cart-link, .subline, 
.card__add, .sale__link
    display: block

.social__link, .link, .card__title-link, .card__img, .card__add-link, 
.menu__link, .category__name, .description__button, .cart__btn, 
.shipping__button, .checkout__btn, .registration__btn, .label__span::after,
.sale__img, .filter-rotate svg, .card, .breadcrumbs__link, .pagination__link,
.slider__btn path
    transition: all .2s ease

.header
    height: 75px
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $blackLight
    &__left, &__right
        display: flex
        align-items: center
        gap: 40px
    &__right
        gap: 32px
    .right__menu
        position: relative
    .menu
        display: none
    .right__menu:hover
        .menu
            display: flex
            flex-direction: column
            width: 232px
            height: 764px
            position: absolute
            top: 26px
            z-index: 1
            padding: 16px 17px 0 34px
            background-color: $white
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
        .close__btn-box
            display: flex
            justify-content: flex-end
            margin-bottom: 9px
        .menu__heading
            margin-bottom: 24px
        .menu__box
            display: flex
            flex-direction: column
            color: $detailsText
        .subtitle
            margin-bottom: 12px
            color: $red
        .menu__link
            margin-left: 22px
            margin-bottom: 11px
            &:hover
                color: $red
        .menu__box:not(:last-child)
            margin-bottom: 20px

.close__btn
    border: none
    background-color: transparent

.top
    display: flex
    padding-left: calc(50% - 800px)
    padding-right: calc(50% - 800px)
    background-color: $bgcTop
    .top__left
        width: 50%
    .top__right
        width: 50%
        padding-left: 64px
    .top__content
        margin-top: 40%
        padding-left: 16px
        border-left: 12px solid $red
    .top__heading
        font-weight: 900
        font-size: 48px
        line-height: 58px
        color: $blackLight
    .top__heading-mini
        font-weight: bold
        font-size: 32px
        line-height: 39px
        color: $blackLight
        span
            color: $red

.sale
    padding-top: 64px
    .sale__content
        display: flex
        gap: 30px
        margin-bottom: 30px
    .sale__item
        display: inline-block
        position: relative
        overflow: hidden
        .sale__img:hover
            transform: scale(1.1)
        .sale__text
            position: absolute
            top: 50%
            left: 50%
            z-index: 1
            transform: translate(-50%, -50%)
            &:hover + .sale__img
                transform: scale(1.1)
        .sale__p
            font-size: 16px
            line-height: 19px
            text-align: center
            color: $white
        .sale__heading
            font-weight: bold
            font-size: 24px
            line-height: 29px
            text-align: center
            color: $red

.head
    height: 148px
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $breadcrumbColor
    &__heading
        font-weight: 400
        font-size: 24px
        line-height: 29px
        color: $red
    .breadcrumbs__menu
        display: flex
    .breadcrumbs__list:not(:last-child)::after
        content: '/'
        padding-left: 6px
        padding-right: 6px
        font-weight: 300
        font-size: 14px
        line-height: 17px
        color: #636363
    .breadcrumbs__list:last-of-type .breadcrumbs__link, .breadcrumbs__link:hover
        font-weight: 700
        color: $red
    .breadcrumbs__link
        font-weight: 300
        color: #636363

.section
    padding-top: 96px
    &__heading
        font-size: 30px
        line-height: 36px
        text-align: center
        color: $blackLight
    &__p
        margin-top: 6px
        margin-bottom: 48px
        text-align: center
        color: $subText
    &__cards
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin-bottom: 20px
    .card
        width: 360px
        margin-bottom: 30px
        background-color: $bgcCard
        .card__add-link
            display: none
        &:hover
            position: relative
            transform: scale(1.05)
            .card__img
                filter: brightness(30%)
            .card__add-link
                width: 139px
                height: 44px
                display: flex
                align-items: center
                justify-content: center
                gap: 11px
                position: absolute
                top: 188px
                left: 111px
                border: 1px solid $white
                color: $white
                &:hover
                    color: $black
                    background-color: $white
                    path
                        fill: $black
        &__box
            padding: 25px 29px 20px 17px
        .card__title-link
            font-size: 13px
            line-height: 16px
            color: $black
            &:hover
                color: $red
        .card__text
            font-weight: 300
            margin-top: 13px
            margin-bottom: 18px
            color: $cardText
        .card__price
            font-size: 16px
            line-height: 19px
            color: $red
    &__link
        display: flex
        justify-content: center
        .link
            padding: 15px 39px
            font-size: 16px
            line-height: 19px
            border: 1px solid #F26376
            color: #F26376
            &:hover
                color: $white
                background-color: #F26376

.section__catalog
    padding-top: 51px
    .form__filter
        max-width: 693px
        display: flex
        justify-content: space-between
        padding-left: 16px
        margin-bottom: 64px
    .details__filter
        position: relative
        z-index: 1
        .filter__summary, .filter-rotate
            display: flex
            align-items: center
            gap: 12px
            font-weight: 700
            color: $detailsText
            path
                fill: $detailsText
        .filter-rotate
            font-weight: 400
        .filter__category
            width: 360px
            // height: 531px
            position: absolute
            top: -13px
            left: -16px
            z-index: -1
            padding: 46px 16px 16px
            color: $detailsText
            background-color: $white
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
        .category__details
            &:not(:last-child)
                margin-bottom: 18px
        .category__item
            display: flex
            flex-direction: column
            padding-left: 17px
            .category__name
                margin-bottom: 11px
                &:hover
                    color: $red
                &:first-of-type
                    margin-top: 24px
                &:last-of-type
                    margin-bottom: 6px
        .category__details[open]
            .category__summary
                color: $redsummary
        .category__summary
            padding: 10px 0 10px 11px
            border-left: 5px solid $redsummary
            border-bottom: 1px solid #EBEBEB
            color: $detailsText
    .filter__right
        display: flex
        gap: 28px
    .pagination
        display: flex
        justify-content: center
        &__box
            width: 284px
            height: 44px
            display: flex
            align-items: center
            justify-content: center
            border: 1px solid #EBEBEB
        .pagination__ul
            display: flex
            align-items: center
        .pagination__list
            font-weight: 300
            font-size: 16px
            line-height: 19px
            padding-bottom: 3px
            color: #EBEBEB
        .pagination__list:first-of-type, .pagination__list:last-of-type
            padding-bottom: 0
        .pagination__span
            padding: 10px
            color: $red
        .pagination__link
            padding: 10px
            &:hover
                color: $red

.details__filter[open], .description__details[open]
    .filter__summary
        color: $redsummary
        path
            fill: $redsummary
    .filter-rotate
        svg
            transform: rotate(-180deg)
        path
            fill: $detailsText

.details__filter
    position: relative
    z-index: 1
    .right__category
        width: 80px
        position: absolute
        top: 20px
        left: -15px
        display: flex
        flex-direction: column
        padding: 7px 0 11px 9px
        background-color: $white
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
        .category__checkbox
            display: inline-block
        .category__checkbox:not(:last-child)
            margin-bottom: 6px
        .category__checkbox>input
            position: absolute
            z-index: -1
            opacity: 0
        .category__checkbox>span
            display: inline-flex
            align-items: center
            user-select: none
            color: $detailsText
        .category__checkbox>span::before
            content: ''
            display: inline-block
            width: 13px
            height: 13px
            border: 1px solid #EBEBEB
            margin-right: 9px
            background-repeat: no-repeat
            background-position: center
            background-size: 81%
        .category__checkbox>input:not(:disabled):not(:checked)+span:hover::before
            border-color: $red
        .category__checkbox>input:checked+span::before
            border-color: $red
            background-color: $red
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")

.product__file
    padding-top: 68px

.product__card
    .product__box
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 11px
        padding-bottom: 42px
        border: 1px solid #EAEAEA
        background-color: #F7F7F7
        .slider__btn
            width: 47px
            height: 47px
            display: flex
            align-items: center
            justify-content: center
            border: none
            background-color: rgba(42, 42, 42, 0.15)
            &:hover
                path
                    fill: $red
    .center
        transform: translateY(-60px)
    .product__description
        padding-top: 65px
        padding-bottom: 65px
        display: flex
        flex-direction: column
        align-items: center
        border: 1px solid #EAEAEA
        background-color: $white
        .description__top
            display: flex
            flex-direction: column
            align-items: center
        .description__heading
            font-weight: 300
            color: $red
        .subline
            width: 63px
            height: 3px
            margin-top: 12px
            margin-bottom: 12px
            background-color: $red
        .description__title
            font-weight: 300
            font-size: 18px
            line-height: 22px
            color: #4D4D4D
        .description__text
            max-width: 554px
            font-weight: 300
            text-align: center
            margin-top: 48px
            margin-bottom: 32px
            color: #5E5E5E
        .description__price
            font-weight: 300
            font-size: 24px
            line-height: 29px
            color: $redsummary
        .line
            width: 641px
            height: 1px
            margin-top: 64px
            margin-bottom: 65px
            background-color: #EAEAEA
        .description__sort
            display: flex
            gap: 23px
        .right__category
            left: 0
        .filter-rotate
            display: flex
            align-items: center
            gap: 9px
            color: $detailsText
        .description__button
            width: 212px
            height: 48px
            display: flex
            align-items: center
            justify-content: center
            gap: 23px
            margin-top: 48px
            font-weight: normal
            font-size: 16px
            line-height: 19px
            color: #F26376
            border: 1px solid #FF6A6A
            background-color: $white
            &:hover
                color: $white
                background-color: #FF6A6A
                path
                    fill: $white

.shopping__cart
    padding-top: 96px
    padding-bottom: 33px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .cart__form
        display: flex
        flex-direction: column
        .shopping__cart-card
            display: flex
            flex-direction: column
            margin-bottom: 72px
        .cart__card
            display: flex
            background-color: $white
            filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13))
            &:not(:last-child)
                margin-bottom: 40px
        .cart__box
            width: 390px
            display: flex
            flex-direction: column
            padding: 22px 22px 0 31px
        .cart__heading
            display: flex
            justify-content: space-between
            margin-bottom: 42px
        .close__btn
            width: 18px
            height: 18px
            margin-top: 7px
        .cart__title
            font-weight: normal
            font-size: 24px
            line-height: 29px
            color: #222222
        .cart__text, .cart__span
            margin-bottom: 6px
            font-size: 22px
            line-height: 26px
            color: #575757
            .text-color
                color: $red
        .cart__span
            margin-bottom: 0
        .cart__quantity
            display: flex
            align-items: center
            gap: 24px
            .cart__input
                width: 43px
                height: 24px
                text-align: center
                font-size: 18px
                line-height: 22px
                color: #656565
                border: 1px solid #EAEAEA
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button
                    -webkit-appearance: none
                    margin: 0
                &[type=number]
                    -moz-appearance:textfield
        .cart__buttons
            display: flex
            justify-content: space-between
        .cart__btn
            font-weight: 300
            color: $black
            padding: 16px 40px
            border: 1px solid #A4A4A4
            background-color: $white
            &:hover
                color: $white
                background-color: #A4A4A4
    &-right
        width: 360px
        .checkout__form
            display: flex
            flex-direction: column
        .shipping__address
            display: flex
            flex-direction: column
            margin-top: 20px
            margin-bottom: 57px
            .heading
                font-style: normal
                font-weight: 300
                font-size: 16px
                line-height: 19px
                color: #222222
            .shipping__input
                height: 45px
                padding-left: 17px
                padding-right: 17px
                font-weight: 300
                font-size: 13px
                line-height: 16px
                margin-bottom: 20px
                border: 1px solid #A4A4A4
                color: #222222
                &:first-of-type
                    margin-top: 20px
                &:last-of-type
                    margin-bottom: 23px
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button
                    -webkit-appearance: none
                    margin: 0
                &[type=number]
                    -moz-appearance:textfield
            .color::placeholder
                color: #B1B1B1
            .shipping__button
                width: 100px
                height: 34px
                font-weight: 300
                font-size: 11px
                line-height: 13px
                border: 1px solid #A4A4A4
                color: #4A4A4A
                background-color: $white
                &:hover
                    color: $white
                    background-color: #4A4A4A
        .checkout
            display: flex
            flex-direction: column
            padding: 39px 42px 42px
            background-color: #F5F3F3
            span
                display: flex
                justify-content: flex-end
                gap: 25px
            &__span
                margin-bottom: 12px
                font-size: 11px
                line-height: 13px
                color: #4A4A4A
            &__s
                margin-bottom: 21px
                font-weight: 300
                font-size: 16px
                line-height: 19px
                color: #222222
                .checkout__price-color
                    font-weight: 700
                    color: $red
            &__line
                width: 275px
                margin-bottom: 17px
                height: 1px
                background-color: #E2E2E2
            .checkout__btn
                height: 50px
                font-weight: 300
                font-size: 16px
                line-height: 19px
                border: 1px solid transparent
                color: $white
                background-color: $red
                &:hover
                    border-color: $red
                    color: $red
                    background-color: $white

.registration
    padding-top: 64px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &-left
        width: 360px
        .registration__form
            display: flex
            flex-direction: column
        .registration__title
            font-weight: 300
            font-size: 16px
            line-height: 19px
            margin-bottom: 20px
            color: #222222
        .registration__text
            font-weight: 300
            font-size: 13px
            line-height: 16px
            margin-top: 15px
            margin-bottom: 39px
            color: #B1B1B1
        .registration__box-radio
            margin-top: 31px
            margin-bottom: 33px
            display: flex
            align-items: center
            gap: 20px
        .registration__input
            width: 100%
            height: 45px
            padding: 0 17px
            border: 1px solid #A4A4A4
            &:not(:last-of-type)
                margin-bottom: 20px
            &::placeholder
                font-weight: 300
                font-size: 13px
                line-height: 16px
                color: #B1B1B1
        .label__span
            position: relative
            padding-left: 27px
            font-weight: 300
            font-size: 11px
            line-height: 13px
            color: #000000
            &::before
                content: ''
                display: block
                width: 17px
                height: 17px
                position: absolute
                top: -2px
                left: 0
                border: 1px solid #A4A4A4
                border-radius: 50%
            &::after
                content: ''
                display: block
                width: 9px
                height: 9px
                position: absolute
                top: 2px
                left: 4px
                opacity: 0
                background-color: $black
                border-radius: 50%
        .radio
            display: none
            &:checked + .label__span::after
                opacity: 1
        .registration__btn
            display: flex
            align-items: center
            justify-content: center
            gap: 20px
            padding: 16px 30px
            border: 1px solid transparent
            color: $white
            background-color: $red
            &:hover
                border-color: $red
                color: $red
                background-color: $white
                path
                    fill: $red
    &-right
        max-width: 652px
        color: $black
        font-weight: 300
        font-size: 24px
        line-height: 29px
        .registration__menu
            list-style-image: url(../img/rega.svg)
            list-style-position: inside
        .registration__heading
            font-weight: 300
            font-size: 24px
            line-height: 29px
        .registration__subtext
            margin: 22px 0
        .menu__list:not(:last-of-type)
            margin-bottom: 16px
        .list-text
            padding-left: 14px

.footer
    padding-top: 95px
    &__up
        height: 341px
        display: flex
        align-items: center
        justify-content: space-around
        color: $whiteText
        background-color: $blackLight
        .up__item
            max-width: 316px
            text-align: center
        .item__img
            height: 40px
        .item__heading
            font-size: 20px
            line-height: 24px
            margin-top: 20px
            margin-bottom: 16px
        .item__text
            font-weight: 300
    &__middle
        height: 448px
        display: flex
        position: relative
        &::after
            content: ''
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: -1
            opacity: .5
            background-image: url(../img/mid-bg.jpg)
            background-repeat: no-repeat
            background-position: center
            background-size: cover
        .middle__left
            width: 50%
            display: flex
            justify-content: flex-start
            padding-top: 97px
        .left__box
            max-width: 360px
            display: flex
            flex-direction: column
            align-items: center
        .middle__text
            margin-top: 30px
            font-style: italic
            font-size: 20px
            line-height: 24px
            text-align: center
            color: $blackLight
        .middle__right
            width: 50%
            display: flex
            justify-content: center
            align-items: center
        .right__box
            max-width: 356px
            &-text
                font-size: 18px
                line-height: 30px
                text-align: center
                margin-bottom: 25px
                color: $blackLight
                span
                    font-weight: bold
                    font-size: 24px
                    line-height: 40px
            .middle__form
                position: relative
            .middle__input
                width: 100%
                height: 49px
                opacity: 0.67
                border: none
                border-radius: 23px
                padding-left: 22px
                padding-right: 128px
                color: $blackLight
                background-color: #E1E1E1
            .middle__button
                height: 49px
                position: absolute
                top: 0
                right: 0
                font-size: 14px
                line-height: 17px
                border: none
                border-radius: 0 23px 23px 0
                padding-left: 22px
                padding-right: 22px
                color: $white
                background-color: $red
    &__bottom
        height: 79px
        display: flex
        align-items: center
        justify-content: space-between
        color: $whiteText
        background-color: $blackLight
        .copyright
            font-size: 16px
            line-height: 19px
        .bottom__box
            display: flex
            gap: 7px
        .social__link
            display: flex
            align-items: center
            justify-content: center
            width: 32px
            height: 32px
            color: $black
            background-color: $white
            &:hover
                background-color: $red
                path
                    fill: $white
        .instagram
            path
                fill: $black