*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul, summary {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

summary, button, .middle__button, .slider__btn, .category__checkbox {
  cursor: pointer;
}

input {
  outline: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header__link, .sale__link, .card__title-link, .add-to-cart-link,
.subline {
  display: block;
}

.social__link, .link, .card__title, .menu__link, .category__name,
.description__button {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #222222;
}

.header__left, .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__right {
  gap: 32px;
}

.header .right__menu {
  position: relative;
}

.header .menu {
  display: none;
}

.header .right__menu:hover .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 232px;
  height: 764px;
  position: absolute;
  top: 26px;
  z-index: 1;
  padding: 16px 17px 0 34px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.header .right__menu:hover .close__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 9px;
}

.header .right__menu:hover .menu__heading {
  margin-bottom: 24px;
}

.header .right__menu:hover .menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #6F6E6E;
}

.header .right__menu:hover .subtitle {
  margin-bottom: 12px;
  color: #F16D7F;
}

.header .right__menu:hover .menu__link {
  margin-left: 22px;
  margin-bottom: 11px;
}

.header .right__menu:hover .menu__link:hover {
  color: #F16D7F;
}

.header .right__menu:hover .menu__box:not(:last-child) {
  margin-bottom: 20px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background-color: #F1E4E6;
}

.top .top__left {
  width: 50%;
}

.top .top__right {
  width: 50%;
  padding-left: 64px;
}

.top .top__content {
  margin-top: 40%;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.top .top__heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.top .top__heading-mini {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #222222;
}

.top .top__heading-mini span {
  color: #F16D7F;
}

.sale {
  padding-top: 64px;
}

.sale .sale__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.sale .sale__item {
  position: relative;
}

.sale .sale__item .sale__text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale .sale__item .sale__p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale .sale__item .sale__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.head {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F8F3F4;
}

.head__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.head .breadcrumbs__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head .breadcrumbs__list:not(:last-child)::after {
  content: '/';
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.head .breadcrumbs__list:last-of-type .breadcrumbs__link {
  font-weight: 700;
  color: #F16D7F;
}

.head .breadcrumbs__link {
  font-weight: 300;
  color: #636363;
}

.section {
  padding-top: 96px;
}

.section__heading {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.section__p {
  margin-top: 6px;
  margin-bottom: 48px;
  text-align: center;
  color: #9F9F9F;
}

.section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.section .card {
  width: 360px;
  margin-bottom: 30px;
  background-color: #F8F8F8;
}

.section .card .add-to-cart {
  display: none;
}

.section .card .add-to-cart-link {
  width: 139px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 11px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.section .card .add-to-cart-link:hover {
  color: #222222;
  background-color: #FFFFFF;
}

.section .card .add-to-cart-link:hover path {
  fill: #222222;
}

.section .card .card__img:hover {
  position: relative;
}

.section .card .card__img:hover .add-to-cart {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(58, 56, 56, 0.86);
}

.section .card__box {
  padding: 25px 29px 20px 17px;
}

.section .card .card__title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.section .card .card__title:hover {
  color: #F16D7F;
}

.section .card .card__text {
  font-weight: 300;
  margin-top: 13px;
  margin-bottom: 18px;
  color: #5D5D5D;
}

.section .card .card__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.section__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__link .link {
  padding: 15px 39px;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #F26376;
  color: #F26376;
}

.section__link .link:hover {
  color: #FFFFFF;
  background-color: #F26376;
}

.section__catalog {
  padding-top: 51px;
}

.section__catalog .form__filter {
  max-width: 693px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 16px;
  margin-bottom: 64px;
}

.section__catalog .details__filter {
  position: relative;
  z-index: 1;
}

.section__catalog .details__filter[open] .filter__summary {
  color: #EF5B70;
}

.section__catalog .details__filter[open] svg path {
  fill: #EF5B70;
}

.section__catalog .details__filter .filter__summary {
  font-weight: 700;
  color: #000000;
}

.section__catalog .details__filter .filter__category {
  width: 360px;
  position: absolute;
  top: -13px;
  left: -16px;
  z-index: -1;
  padding: 46px 16px 16px;
  color: #6F6F6F;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.section__catalog .details__filter .category__details:not(:last-child) {
  margin-bottom: 18px;
}

.section__catalog .details__filter .category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 17px;
}

.section__catalog .details__filter .category__item .category__name {
  margin-bottom: 11px;
}

.section__catalog .details__filter .category__item .category__name:hover {
  color: #F16D7F;
}

.section__catalog .details__filter .category__item .category__name:first-of-type {
  margin-top: 24px;
}

.section__catalog .details__filter .category__item .category__name:last-of-type {
  margin-bottom: 6px;
}

.section__catalog .details__filter .category__details[open] .category__summary {
  color: #EF5B70;
}

.section__catalog .details__filter .category__summary {
  padding: 10px 0 10px 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  color: #6F6E6E;
}

.section__catalog .filter__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.section__catalog .filter__right .details__filter {
  position: relative;
  z-index: 1;
}

.section__catalog .filter__right .right__category {
  width: 80px;
  position: absolute;
  top: 20px;
  left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7px 0 11px 9px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.section__catalog .filter__right .category__checkbox {
  display: inline-block;
}

.section__catalog .filter__right .category__checkbox:not(:last-child) {
  margin-bottom: 6px;
}

.section__catalog .filter__right .category__checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.section__catalog .filter__right .category__checkbox > span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #6F6E6E;
}

.section__catalog .filter__right .category__checkbox > span::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #EBEBEB;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 81%;
}

.section__catalog .filter__right .category__checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #F16D7F;
}

.section__catalog .filter__right .category__checkbox > input:checked + span::before {
  border-color: #F16D7F;
  background-color: #F16D7F;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.section__catalog .filter__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: #6F6E6E;
}

.section__catalog .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__catalog .pagination__box {
  width: 284px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #EBEBEB;
}

.section__catalog .pagination .pagination__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__catalog .pagination .pagination__list {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 3px;
  color: #EBEBEB;
}

.section__catalog .pagination .pagination__list:first-of-type, .section__catalog .pagination .pagination__list:last-of-type {
  padding-bottom: 0;
}

.section__catalog .pagination .pagination__span {
  padding: 10px;
  color: #F16D7F;
}

.section__catalog .pagination .pagination__link {
  padding: 10px;
}

.product__file {
  padding-top: 68px;
}

.product__card .product__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 42px;
  border: 1px solid #EAEAEA;
  background-color: #F7F7F7;
}

.product__card .product__box .slider__btn {
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(42, 42, 42, 0.15);
}

.product__card .product__box .slider__btn:hover path {
  fill: #F16D7F;
}

.product__card .center {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.product__card .product__description {
  padding-top: 65px;
  padding-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
}

.product__card .product__description .description__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__card .product__description .description__heading {
  font-weight: 300;
  color: #F16D7F;
}

.product__card .product__description .subline {
  width: 63px;
  height: 3px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #F16D7F;
}

.product__card .product__description .description__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.product__card .product__description .description__text {
  max-width: 554px;
  font-weight: 300;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 32px;
  color: #5E5E5E;
}

.product__card .product__description .description__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.product__card .product__description .line {
  width: 641px;
  height: 1px;
  margin-top: 64px;
  margin-bottom: 65px;
  background-color: #EAEAEA;
}

.product__card .product__description .description__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.product__card .product__description .description__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  color: #6F6E6E;
}

.product__card .product__description .description__details[open] .description__summary {
  color: #F16D7F;
}

.product__card .product__description .description__details[open] .description__summary path {
  fill: #F16D7F;
}

.product__card .product__description .description__button {
  width: 212px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
  margin-top: 48px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  background-color: #FFFFFF;
}

.product__card .product__description .description__button:hover {
  color: #FFFFFF;
  background-color: #FF6A6A;
}

.product__card .product__description .description__button:hover path {
  fill: #FFFFFF;
}

.footer {
  padding-top: 95px;
}

.footer__up {
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #FBFBFB;
  background-color: #222222;
}

.footer__up .up__item {
  max-width: 316px;
  text-align: center;
}

.footer__up .item__img {
  height: 40px;
}

.footer__up .item__heading {
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__up .item__text {
  font-weight: 300;
}

.footer__middle {
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer__middle::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: .5;
  background-image: url(../img/mid-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__middle .middle__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 97px;
}

.footer__middle .left__box {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__middle .middle__text {
  margin-top: 30px;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.footer__middle .middle__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__middle .right__box {
  max-width: 356px;
}

.footer__middle .right__box-text {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 25px;
  color: #222222;
}

.footer__middle .right__box-text span {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}

.footer__middle .right__box .middle__form {
  position: relative;
}

.footer__middle .right__box .middle__input {
  width: 100%;
  height: 49px;
  opacity: 0.67;
  border: none;
  border-radius: 23px;
  padding-left: 22px;
  padding-right: 128px;
  color: #222222;
  background-color: #E1E1E1;
}

.footer__middle .right__box .middle__button {
  height: 49px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-radius: 0 23px 23px 0;
  padding-left: 22px;
  padding-right: 22px;
  color: #FFFFFF;
  background-color: #F16D7F;
}

.footer__bottom {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FBFBFB;
  background-color: #222222;
}

.footer__bottom .copyright {
  font-size: 16px;
  line-height: 19px;
}

.footer__bottom .bottom__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.footer__bottom .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  color: #000000;
  background-color: #FFFFFF;
}

.footer__bottom .social__link:hover {
  background-color: #F16D7F;
}

.footer__bottom .social__link:hover path {
  fill: #FFFFFF;
}

.footer__bottom .instagram path {
  fill: #000000;
}
/*# sourceMappingURL=style.css.map */