*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul, summary {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

summary, button, .middle__button, .slider__btn, .category__checkbox,
.registration__label {
  cursor: pointer;
}

input {
  outline: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header__link, .card__title-link, .add-to-cart-link, .subline,
.card__add, .sale__link {
  display: block;
}

.social__link, .link, .card__title-link, .card__img, .card__add-link,
.menu__link, .category__name, .description__button, .cart__btn,
.shipping__button, .checkout__btn, .registration__btn, .label__span::after,
.sale__img, .filter-rotate svg, .card, .breadcrumbs__link, .pagination__link,
.slider__btn path {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #222222;
}

.header__left, .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__right {
  gap: 32px;
}

.header .right__menu {
  position: relative;
}

.header .menu {
  display: none;
}

.header .right__menu:hover .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 232px;
  height: 764px;
  position: absolute;
  top: 26px;
  z-index: 1;
  padding: 16px 17px 0 34px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.header .right__menu:hover .close__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 9px;
}

.header .right__menu:hover .menu__heading {
  margin-bottom: 24px;
}

.header .right__menu:hover .menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #6F6E6E;
}

.header .right__menu:hover .subtitle {
  margin-bottom: 12px;
  color: #F16D7F;
}

.header .right__menu:hover .menu__link {
  margin-left: 22px;
  margin-bottom: 11px;
}

.header .right__menu:hover .menu__link:hover {
  color: #F16D7F;
}

.header .right__menu:hover .menu__box:not(:last-child) {
  margin-bottom: 20px;
}

.close__btn {
  border: none;
  background-color: transparent;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background-color: #F1E4E6;
}

.top .top__left {
  width: 50%;
}

.top .top__right {
  width: 50%;
  padding-left: 64px;
}

.top .top__content {
  margin-top: 40%;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.top .top__heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.top .top__heading-mini {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #222222;
}

.top .top__heading-mini span {
  color: #F16D7F;
}

.sale {
  padding-top: 64px;
}

.sale .sale__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.sale .sale__item {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.sale .sale__item .sale__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sale .sale__item .sale__text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sale .sale__item .sale__text:hover + .sale__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sale .sale__item .sale__p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale .sale__item .sale__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.head {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F8F3F4;
}

.head__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.head .breadcrumbs__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head .breadcrumbs__list:not(:last-child)::after {
  content: '/';
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.head .breadcrumbs__list:last-of-type .breadcrumbs__link, .head .breadcrumbs__link:hover {
  font-weight: 700;
  color: #F16D7F;
}

.head .breadcrumbs__link {
  font-weight: 300;
  color: #636363;
}

.section {
  padding-top: 96px;
}

.section__heading {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.section__p {
  margin-top: 6px;
  margin-bottom: 48px;
  text-align: center;
  color: #9F9F9F;
}

.section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.section .card {
  width: 360px;
  margin-bottom: 30px;
  background-color: #F8F8F8;
}

.section .card .card__add-link {
  display: none;
}

.section .card:hover {
  position: relative;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.section .card:hover .card__img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.section .card:hover .card__add-link {
  width: 139px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 11px;
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.section .card:hover .card__add-link:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.section .card:hover .card__add-link:hover path {
  fill: #000000;
}

.section .card__box {
  padding: 25px 29px 20px 17px;
}

.section .card .card__title-link {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.section .card .card__title-link:hover {
  color: #F16D7F;
}

.section .card .card__text {
  font-weight: 300;
  margin-top: 13px;
  margin-bottom: 18px;
  color: #5D5D5D;
}

.section .card .card__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.section__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__link .link {
  padding: 15px 39px;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #F26376;
  color: #F26376;
}

.section__link .link:hover {
  color: #FFFFFF;
  background-color: #F26376;
}

.section__catalog {
  padding-top: 51px;
}

.section__catalog .form__filter {
  max-width: 693px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 16px;
  margin-bottom: 64px;
}

.section__catalog .details__filter {
  position: relative;
  z-index: 1;
}

.section__catalog .details__filter .filter__summary, .section__catalog .details__filter .filter-rotate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-weight: 700;
  color: #6F6E6E;
}

.section__catalog .details__filter .filter__summary path, .section__catalog .details__filter .filter-rotate path {
  fill: #6F6E6E;
}

.section__catalog .details__filter .filter-rotate {
  font-weight: 400;
}

.section__catalog .details__filter .filter__category {
  width: 360px;
  position: absolute;
  top: -13px;
  left: -16px;
  z-index: -1;
  padding: 46px 16px 16px;
  color: #6F6E6E;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.section__catalog .details__filter .category__details:not(:last-child) {
  margin-bottom: 18px;
}

.section__catalog .details__filter .category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 17px;
}

.section__catalog .details__filter .category__item .category__name {
  margin-bottom: 11px;
}

.section__catalog .details__filter .category__item .category__name:hover {
  color: #F16D7F;
}

.section__catalog .details__filter .category__item .category__name:first-of-type {
  margin-top: 24px;
}

.section__catalog .details__filter .category__item .category__name:last-of-type {
  margin-bottom: 6px;
}

.section__catalog .details__filter .category__details[open] .category__summary {
  color: #EF5B70;
}

.section__catalog .details__filter .category__summary {
  padding: 10px 0 10px 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  color: #6F6E6E;
}

.section__catalog .filter__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.section__catalog .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__catalog .pagination__box {
  width: 284px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #EBEBEB;
}

.section__catalog .pagination .pagination__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__catalog .pagination .pagination__list {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 3px;
  color: #EBEBEB;
}

.section__catalog .pagination .pagination__list:first-of-type, .section__catalog .pagination .pagination__list:last-of-type {
  padding-bottom: 0;
}

.section__catalog .pagination .pagination__span {
  padding: 10px;
  color: #F16D7F;
}

.section__catalog .pagination .pagination__link {
  padding: 10px;
}

.section__catalog .pagination .pagination__link:hover {
  color: #F16D7F;
}

.details__filter[open] .filter__summary, .description__details[open] .filter__summary {
  color: #EF5B70;
}

.details__filter[open] .filter__summary path, .description__details[open] .filter__summary path {
  fill: #EF5B70;
}

.details__filter[open] .filter-rotate svg, .description__details[open] .filter-rotate svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.details__filter[open] .filter-rotate path, .description__details[open] .filter-rotate path {
  fill: #6F6E6E;
}

.details__filter {
  position: relative;
  z-index: 1;
}

.details__filter .right__category {
  width: 80px;
  position: absolute;
  top: 20px;
  left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7px 0 11px 9px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.details__filter .right__category .category__checkbox {
  display: inline-block;
}

.details__filter .right__category .category__checkbox:not(:last-child) {
  margin-bottom: 6px;
}

.details__filter .right__category .category__checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.details__filter .right__category .category__checkbox > span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #6F6E6E;
}

.details__filter .right__category .category__checkbox > span::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #EBEBEB;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 81%;
}

.details__filter .right__category .category__checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #F16D7F;
}

.details__filter .right__category .category__checkbox > input:checked + span::before {
  border-color: #F16D7F;
  background-color: #F16D7F;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.product__file {
  padding-top: 68px;
}

.product__card .product__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 42px;
  border: 1px solid #EAEAEA;
  background-color: #F7F7F7;
}

.product__card .product__box .slider__btn {
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: rgba(42, 42, 42, 0.15);
}

.product__card .product__box .slider__btn:hover path {
  fill: #F16D7F;
}

.product__card .center {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.product__card .product__description {
  padding-top: 65px;
  padding-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
}

.product__card .product__description .description__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__card .product__description .description__heading {
  font-weight: 300;
  color: #F16D7F;
}

.product__card .product__description .subline {
  width: 63px;
  height: 3px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #F16D7F;
}

.product__card .product__description .description__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.product__card .product__description .description__text {
  max-width: 554px;
  font-weight: 300;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 32px;
  color: #5E5E5E;
}

.product__card .product__description .description__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.product__card .product__description .line {
  width: 641px;
  height: 1px;
  margin-top: 64px;
  margin-bottom: 65px;
  background-color: #EAEAEA;
}

.product__card .product__description .description__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.product__card .product__description .right__category {
  left: 0;
}

.product__card .product__description .filter-rotate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  color: #6F6E6E;
}

.product__card .product__description .description__button {
  width: 212px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
  margin-top: 48px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  background-color: #FFFFFF;
}

.product__card .product__description .description__button:hover {
  color: #FFFFFF;
  background-color: #FF6A6A;
}

.product__card .product__description .description__button:hover path {
  fill: #FFFFFF;
}

.shopping__cart {
  padding-top: 96px;
  padding-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shopping__cart .cart__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopping__cart .cart__form .shopping__cart-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 72px;
}

.shopping__cart .cart__form .cart__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.shopping__cart .cart__form .cart__card:not(:last-child) {
  margin-bottom: 40px;
}

.shopping__cart .cart__form .cart__box {
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 22px 0 31px;
}

.shopping__cart .cart__form .cart__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 42px;
}

.shopping__cart .cart__form .close__btn {
  width: 18px;
  height: 18px;
  margin-top: 7px;
}

.shopping__cart .cart__form .cart__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.shopping__cart .cart__form .cart__text, .shopping__cart .cart__form .cart__span {
  margin-bottom: 6px;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.shopping__cart .cart__form .cart__text .text-color, .shopping__cart .cart__form .cart__span .text-color {
  color: #F16D7F;
}

.shopping__cart .cart__form .cart__span {
  margin-bottom: 0;
}

.shopping__cart .cart__form .cart__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.shopping__cart .cart__form .cart__quantity .cart__input {
  width: 43px;
  height: 24px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #EAEAEA;
}

.shopping__cart .cart__form .cart__quantity .cart__input::-webkit-outer-spin-button, .shopping__cart .cart__form .cart__quantity .cart__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopping__cart .cart__form .cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping__cart .cart__form .cart__btn {
  font-weight: 300;
  color: #000000;
  padding: 16px 40px;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
}

.shopping__cart .cart__form .cart__btn:hover {
  color: #FFFFFF;
  background-color: #A4A4A4;
}

.shopping__cart-right {
  width: 360px;
}

.shopping__cart-right .checkout__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopping__cart-right .shipping__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-bottom: 57px;
}

.shopping__cart-right .shipping__address .heading {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shopping__cart-right .shipping__address .shipping__input {
  height: 45px;
  padding-left: 17px;
  padding-right: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 20px;
  border: 1px solid #A4A4A4;
  color: #222222;
}

.shopping__cart-right .shipping__address .shipping__input:first-of-type {
  margin-top: 20px;
}

.shopping__cart-right .shipping__address .shipping__input:last-of-type {
  margin-bottom: 23px;
}

.shopping__cart-right .shipping__address .shipping__input::-webkit-outer-spin-button, .shopping__cart-right .shipping__address .shipping__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopping__cart-right .shipping__address .color::-webkit-input-placeholder {
  color: #B1B1B1;
}

.shopping__cart-right .shipping__address .color:-ms-input-placeholder {
  color: #B1B1B1;
}

.shopping__cart-right .shipping__address .color::-ms-input-placeholder {
  color: #B1B1B1;
}

.shopping__cart-right .shipping__address .color::placeholder {
  color: #B1B1B1;
}

.shopping__cart-right .shipping__address .shipping__button {
  width: 100px;
  height: 34px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  border: 1px solid #A4A4A4;
  color: #4A4A4A;
  background-color: #FFFFFF;
}

.shopping__cart-right .shipping__address .shipping__button:hover {
  color: #FFFFFF;
  background-color: #4A4A4A;
}

.shopping__cart-right .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 39px 42px 42px;
  background-color: #F5F3F3;
}

.shopping__cart-right .checkout span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 25px;
}

.shopping__cart-right .checkout__span {
  margin-bottom: 12px;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.shopping__cart-right .checkout__s {
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shopping__cart-right .checkout__s .checkout__price-color {
  font-weight: 700;
  color: #F16D7F;
}

.shopping__cart-right .checkout__line {
  width: 275px;
  margin-bottom: 17px;
  height: 1px;
  background-color: #E2E2E2;
}

.shopping__cart-right .checkout .checkout__btn {
  height: 50px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid transparent;
  color: #FFFFFF;
  background-color: #F16D7F;
}

.shopping__cart-right .checkout .checkout__btn:hover {
  border-color: #F16D7F;
  color: #F16D7F;
  background-color: #FFFFFF;
}

.registration {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.registration-left {
  width: 360px;
}

.registration-left .registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration-left .registration__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  color: #222222;
}

.registration-left .registration__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-top: 15px;
  margin-bottom: 39px;
  color: #B1B1B1;
}

.registration-left .registration__box-radio {
  margin-top: 31px;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.registration-left .registration__input {
  width: 100%;
  height: 45px;
  padding: 0 17px;
  border: 1px solid #A4A4A4;
}

.registration-left .registration__input:not(:last-of-type) {
  margin-bottom: 20px;
}

.registration-left .registration__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-left .registration__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-left .registration__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-left .registration__input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-left .label__span {
  position: relative;
  padding-left: 27px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration-left .label__span::before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  top: -2px;
  left: 0;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
}

.registration-left .label__span::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 2px;
  left: 4px;
  opacity: 0;
  background-color: #000000;
  border-radius: 50%;
}

.registration-left .radio {
  display: none;
}

.registration-left .radio:checked + .label__span::after {
  opacity: 1;
}

.registration-left .registration__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 16px 30px;
  border: 1px solid transparent;
  color: #FFFFFF;
  background-color: #F16D7F;
}

.registration-left .registration__btn:hover {
  border-color: #F16D7F;
  color: #F16D7F;
  background-color: #FFFFFF;
}

.registration-left .registration__btn:hover path {
  fill: #F16D7F;
}

.registration-right {
  max-width: 652px;
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration-right .registration__menu {
  list-style-image: url(../img/rega.svg);
  list-style-position: inside;
}

.registration-right .registration__heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration-right .registration__subtext {
  margin: 22px 0;
}

.registration-right .menu__list:not(:last-of-type) {
  margin-bottom: 16px;
}

.registration-right .list-text {
  padding-left: 14px;
}

.footer {
  padding-top: 95px;
}

.footer__up {
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #FBFBFB;
  background-color: #222222;
}

.footer__up .up__item {
  max-width: 316px;
  text-align: center;
}

.footer__up .item__img {
  height: 40px;
}

.footer__up .item__heading {
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__up .item__text {
  font-weight: 300;
}

.footer__middle {
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer__middle::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: .5;
  background-image: url(../img/mid-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__middle .middle__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 97px;
}

.footer__middle .left__box {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__middle .middle__text {
  margin-top: 30px;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.footer__middle .middle__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__middle .right__box {
  max-width: 356px;
}

.footer__middle .right__box-text {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 25px;
  color: #222222;
}

.footer__middle .right__box-text span {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}

.footer__middle .right__box .middle__form {
  position: relative;
}

.footer__middle .right__box .middle__input {
  width: 100%;
  height: 49px;
  opacity: 0.67;
  border: none;
  border-radius: 23px;
  padding-left: 22px;
  padding-right: 128px;
  color: #222222;
  background-color: #E1E1E1;
}

.footer__middle .right__box .middle__button {
  height: 49px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-radius: 0 23px 23px 0;
  padding-left: 22px;
  padding-right: 22px;
  color: #FFFFFF;
  background-color: #F16D7F;
}

.footer__bottom {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FBFBFB;
  background-color: #222222;
}

.footer__bottom .copyright {
  font-size: 16px;
  line-height: 19px;
}

.footer__bottom .bottom__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.footer__bottom .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  color: #000000;
  background-color: #FFFFFF;
}

.footer__bottom .social__link:hover {
  background-color: #F16D7F;
}

.footer__bottom .social__link:hover path {
  fill: #FFFFFF;
}

.footer__bottom .instagram path {
  fill: #000000;
}
/*# sourceMappingURL=style.css.map */